.content{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    overflow: auto;
}
.content:hover{
    width: 300px;
    height: 300px;
    transition-duration: 1s;
    transition-delay: 0.5s;
}
