.main {
    position: relative;
}
.main > img  {
    width: 300px;
    height: 300px;
    transform: skewX(45deg);
    position: absolute;
}
.img1 {
    z-index: 3;
}
.img2 {
    z-index: 2;
    left: 30px;
}
.img3 {
    z-index: 1;
    left: 60px;
}