div {
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 15px solid red;
    background-color: orange;
    opacity: 0.6;

}
.contentbox {
    box-sizing: content-box;
}
.borderbox {
    box-sizing: border-box;
}